<!doctype>
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="index,follow"/>
        <meta name="keywords" content="KAZ automobile workshop auto repair, auto repair lagos "/>
        <meta name="description" content="KAZ automobile workshop  provides the best automotive electrical repair, brake repair &amp; auto repair in Lagos  &amp;  Call now for an appointment."/>
		<meta name='author' content='Kappo Zainab'>
		<title>KAZ Automobile Workshop</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
		<style type="text/css">
			a{
				color: white;
			}
		</style>
	</head>
	<!--div container-->
	<body>
	<div class="container-fluid">
	
		<nav class="navbar fixed-top navbar-expand-lg  fixed-top" style='background-color:green'>
			<div class="container">
			  <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">HOME</a>
					  </li>
			
				   <li class="nav-item">
					<a class="nav-link" href="/direction">DIRECTION</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/contact">CONTACT</a>
				  </li>
				   
				 <li class="nav-item">
					<a class="nav-link" href="/sign">SIGN UP</a>
				  </li>
				   

				 <li class="nav-item">
					<a class="nav-link" href="/login">LOGIN</a>
				  </li>

				  <li class="nav-item">
					<a class="nav-link" href="/admin">ADMIN</a>
				  </li>
				 
				</ul>
			  </div>
			</div>
		  </nav><br><br><br><br>


		  <div class="container-fluid">
			<div>
				<a href="/"><p style="color: green;font-weight: bold;font-size: xx-large;font-style: italic;padding-left:80px;">AUTO
			  <span style="color: black;">motive</span></p>
			  </a>
			</div>
			</div>
			
	
			<h1 style="color: green;">DIRECTION</h1><br>
			<div class="row">
			<div class="col-md-6">
       <input type="text" name="address" placeholder="Enter your starting address" class="form-control"><br><br>
       <button class="btn btn-outline-success">Go</button>
   </div>


       <div class="col-md-6">
	      			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31714.081721545717!2d3.119861207059669!3d6.488697140469576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b822ca9d61e27%3A0x6483e46c8c05ffe7!2sIjanikin%2C%20Ojo%20102101%2C%20Lagos!5e0!3m2!1sen!2sng!4v1633922283592!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	      		</div>
</div><br><br>
	

<div class="row" style="background-color: green; padding: 30px;">
<div class="col-md-3">
	<div>
		<a href="/"><p style="color: black;font-weight: bold;font-size: xx-large;font-style: italic;padding-left:80px;">AUTO
	  <span style="color: black;">motive</span></p>
	  </a>
	</div>
			</div> 
			<div class="col-md-3">
				<h4>Contact Us via email @ zainabkappo@yahoo.com</h4>
			</div>
			<div class="col-md-3">
				<h3>CALL US:(+234)4705 3095</h3>
				<p>Mon - Fri: 8:00am - 5:00pm</p>
			</div>
			<div class="col-md-3">
				<a href="{{url_for('appointment')}}"><button class="btn btn-success" style="margin: 30px;">SCHEDULE AN APPOINTMENT</button></a>
			</div>
		</div>
        </div>
	</div><br><br>
	<div><p style="text-align: center;">Copyright@2021</p></div>
	</body>
	</html>