<!doctype>
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="index,follow"/>
        <meta name="keywords" content="KAZ automobile workshop auto repair, auto repair lagos "/>
        <meta name="description" content="KAZ automobile workshop  provides the best automotive electrical repair, brake repair &amp; auto repair in Lagos  &amp;  Call now for an appointment."/>
		<meta name='author' content='Kappo Zainab'>
		<title>KAZ Automobile Workshop</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
		<style type="text/css">
			a{
				color: white;
			}


		</style>
	</head>
	<body>
	<!--div container-->
	<div class="container-fluid" style="width: 96%;margin: auto;">
		<nav class="navbar fixed-top navbar-expand-lg  fixed-top" style='background-color:green;width: 96%;margin: auto;'>
			  <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">HOME</a>
					  </li>
		
				   <li class="nav-item">
					<a class="nav-link" href="/direction">DIRECTION</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/contact">CONTACT</a>
				  </li>
				   
				 <li class="nav-item">
					<a class="nav-link" href="/sign">SIGN UP</a>
				  </li>
				   

				 <li class="nav-item">
					<a class="nav-link" href="/login">LOGIN</a>
				  </li>

				  <li class="nav-item">
					<a class="nav-link" href="/admin">ADMIN</a>
				  </li>
				</ul>
			  </div>
		</nav><br><br><br>
		 
          <div>
			  <a href="/"><p style="color: green;font-weight: bold;font-size: xx-large;font-style: italic;padding-left:80px;">AUTO
			<span style="color: black;">motive</span></p>
			</a>
		  </div>
		  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
			  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="{{url_for('static',filename='images/repairs.jpg')}}" class="d-block w-100" alt="..." style="height: 600px;">
			  </div>
			  <div class="carousel-item">
				<img src="{{url_for('static',filename='images/slide-1.jpg')}}" class="d-block w-100" alt="..." style="height: 600px;">
			  </div>
			  <div class="carousel-item">
				<img src="{{url_for('static',filename='images/10-best-mechanic-apps.jpg')}}" class="d-block w-100" alt="..." style="height: 600px;">
			  </div>
			  <div class="carousel-item">
				<img src="{{url_for('static',filename='images/car.jpg')}}" class="d-block w-100" alt="..." style="height: 600px;">
			  </div>
			  <div class="carousel-item">
				<img src="{{url_for('static',filename='images/repair.jpg')}}" class="d-block w-100" alt="..." style="height: 600px;">
			  </div>
			</div>
			
		  </div><br>

<div class="row" style="background-color: green; padding: 30px;">
<div class="col-md-3">
	<div>
		<a href="/"><p style="color: black;font-weight: bold;font-size: xx-large;font-style: italic;padding-left:80px;">AUTO
	  <span style="color: black;">motive</span></p>
	  </a>
	</div>
			</div> 
			<div class="col-md-3">
				<h4>Contact Us via email @ zainabkappo@yahoo.com</h4>
			</div>
			<div class="col-md-3">
				<h3>CALL US:(+234)4705 3095</h3>
				<p>Mon - Fri: 8:00am - 5:00pm</p>
			</div>
			<div class="col-md-3">
				<a href="/appointment"><button class="btn btn-success" style="margin: 30px;">SCHEDULE AN APPOINTMENT</button></a>
			</div>
		</div>
        </div>
	<br><br>
	<div><p style="text-align: center;">Copyright@2021</p></div>
	<script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/popper.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}"></script>
	</body>
	</html>