<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin Page</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
  
<style type="text/css">
.nav-link{ color:white;}
.nav-link:hover{
	color:grey;
}
</style>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg  fixed-top" style='background-color:green'>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>

         <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
           
         
        </ul>
      </div>
    </div>
  </nav><br><br>


  <div class="container-fluid">
    <div>
  <a href="/"><p style="color: green;font-weight: bold;font-size: xx-large;font-style: italic;padding-left:80px;">AUTO
<span style="color: black;">motive</span></p>
</a>
</div>
</div>

  <!-- Page Content -->
  <link type='text/css' rel='stylesheet' href='{{url_for("static",filename="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")}}'>
  <div class="container" style='min-height:500px'>

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      <small>All orders</small>
    </h1>

     
    <!-- Content Row -->
    <div class="row">
     
      <!-- Content Column -->
      <div class="col-lg-12 mb-4">
      <div style='text-align:right'>
	
	  </div>
	   <table class="table table-striped">
     
  <thead>
    <tr>
      <th>S/N</th>
     <!-- <th scope="col">Booking Description</th>
      <th scope="col">Booking Title</th>
      <th scope="col">Booking Type</th> -->
      <th scope="col">Car Type</th>
      <th scope="col">Car Company</th>
      <th scope="col">Car  Description</th>
     
     <!-- <th scope="col">Booking Date</th>  -->

    </tr>
  </thead>
  <tbody>
    {% if use %}
    {% for x in use %}
    <tr>
   <td>{{ loop.index }}</td> 
   <!-- <td>{{x.booking_description}}</td>
   <td>{{x.booking_title}}</td>
   <td>{{x.booking_type}}</td>   -->
   <td>{{x.car_type}}</td>
   <td>{{x.car_company}}</td>
   <td>{{x.car_description}}</td>
   <!-- <td>{{x.booking_date}}</td>  -->

   </tr>
   {% endfor %}
   {% endif %}
  </tbody>
</table>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  	
</div><br><br>
<div class="row" style="background-color: green; padding: 30px;">
<div class="col-md-3">
  <div>
		<a href="/"><p style="color: black;font-weight: bold;font-size: xx-large;font-style: italic;padding-left:80px;">AUTO
	  <span style="color: black;">motive</span></p>
	  </a>
	</div>
			</div> 
			<div class="col-md-3">
				<h4>Contact Us via email @ zainabkappo@yahoo.com</h4>
			</div>
			<div class="col-md-3">
				<h3>CALL US:(+234)4705 3095</h3>
				<p>Mon - Fri: 8:00am - 5:00pm</p>
			</div>
			<div class="col-3">
				<a href="/appointment"><button class="btn btn-success" style="margin: 30px;">SCHEDULE AN APPOINTMENT</button></a>
			</div>
		</div>
        </div>
	</div><br><br>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<div><p style="text-align: center;">Copyright@2021</p></div>
	</body>
	</html>